.button-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-item {
    display: flex;
    flex-direction: column;
}

.post-info {
    display: flex;
}

.left-div {
    /* border: 3px solid red; */
    flex: 2;
    margin-right: 10px;
}

.right-div {
    flex: 1;
    display: flex;
    /* align-items: center;
    justify-content: end; */
    /* border: 3px solid hotpink; */
    position: relative;
}

.post-title {
    color: black;
    margin: 0;
    padding: 0;
}

.org-div {
    margin: 0px 0px;
    padding: 0;
    display: flex;
    align-items: center;
    /* border: 3px solid firebrick; */
}

.org-div h3 {
    margin: 0;
    padding: 0;
}

.profile-pic {
    margin-bottom: 0 !important;
    margin-right: 10px;
}

.post-text {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: medium;
    text-align: start;
    color: black;
}

.description-link {
    font-size: small;
    color: green;
}

.description-link:hover {
    color: darkgreen;
}

.description-link:active {
    color: black;
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}