.sign-up-title {
    text-align: center;
}

.signin-btn:hover {
    background-color: rgb(13, 98, 13) !important;
}

.signup-btn {
    color: green;
    margin-top: 10rem;
    cursor: pointer;
}

.signup-btn:hover {
    color: darkgreen;
}

.org-banner-icon:hover {
    color: green !important;
}

.see-bids-btn:hover {
    color: darkgreen !important;
    font-weight: 600 !important;
}

.title-div {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.edit-btn {
    color: green;
    position: absolute;
    right: 0px;
    font-size: 25px !important;
}

.edit-btn:hover {
    color: darkgreen;
    font-size: 30px !important;
}