button {
  font-size: calc(10px + 2vmin);
}

.mui-btn {
  background-color: green !important;
  color: white !important;
}

.mui-btn:hover {
  background-color: darkgreen !important;
  color: white !important;
}

body {
  background-color: rgb(255, 246, 235);
}